*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    margin: 20px;
    height: 25vh;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.item{
    height: 60px;
    width: 60px;
    background-color: purple;
    justify-content: center;
}