<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Cocktails</title>
</head>
<body>
    <h1>Cocktails</h1>
    <!-- <% if (drinks.length === 0) { %>
        <a> No drinks </a>
        <% } else { %>
            <button>all</button>
        <% drinks.forEach(item => { %>
            <button><%= item %> </button>
            <% }) %>            
        <% } %>

        <table>
            <thead>
                <th>Name</th>
                <th>Price</th>
            </thead>

            <tbody>
            <% for (let i = 0; i < content.lenght; i++ ){ %>            
            <tr name ="row">
                    <td><%= content[i].name content[i].contains %></td>
                    <td><%= content[i].price %></td>                    
                </tr>            
                <%}%>


            </tbody>
        </table> -->
    
</body>
</html>
