body{
    margin: 10px;
}

#content{
    display: grid;
    width: 100%;
    background-color: rgb(44, 43, 43);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap:10px;
}

.violet{
    height: 200px;
    background-color: blueviolet;
    grid-column: span 1;
    grid-row: span 1;
}
 .green{
    height: auto;
    background-color: green;
    grid-column: 2/4;
    grid-row: 1/3;
    padding: 80px;
 }

 .yellow{
    background-color: yellow;
    height: 240px;
 }