*{
    box-sizing: border-box;
}

body{
    align-items: center;
}

.container{   
    margin:auto; 
    width: 600px;
    display: flex;
    justify-content: center;
}

.item{
    height: 150px;
    
}
    
.green {
    background-color: greenyellow;
    flex-grow: 1;
}

.yellow {
    background-color: yellow;
    flex-grow: 2;
}

.purple {
    background-color: violet;
    flex-grow: 1;
}

@media only screen and (max-width:700px) {
    .container{
        flex-flow: column;
    }
}