body{
    box-sizing: border-box;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}
div{
    width: 500px;
    height: 100px;
    background-color: blueviolet;
    display: block;
    
}

button{
    width: 500px;
    height: 50px;
    background-color: aqua;
    text-align: center;
    display: block;
    
    
}

button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

